@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
/* @import url('cmp/ans.css'); */
/* @import url('cmp/smn.css'); */
/* @import url('cmp/san.css'); */
html,body {
	margin:0;
	padding:0
}
* {
	box-sizing:border-box
}
html {
	background:#E9E5E2
}
body {
	font-size:13px;
	font-family:'Helevetica',sans-serif;
	line-height:1.3;
	color:#222
}
th,td {
	font-size:12px;
	font-family:'Helevetica',sans-serif;
	line-height:1.3
}
p {
	padding:0;
	margin:0
}
a {
	color:<CONTRAST_MAIN>;
	font-weight:bold;
	text-decoration:none
}
a:hover {
	color:#d30;
	text-decoration:none
}
a:focus {
	outline:0px solid transparent
}
a:active {
	color:#b92201
}
img[src$="sponsor.gif"],img[src$="sponsor2.gif"],img[src$="sponsor3.gif"] {
	display:inline-block;
	width:0px;
	height:10px;
	background:url(i/sponsor_o.png);
	background-repeat:no-repeat;
	padding-left:11px;
	overflow:hidden;
	margin-right:2px
}
img[src$="sponsor2.gif"] {
	background:url(i/sponsor_g.png)
}
img[src$="sponsor3.gif"] {
	background:url(i/sponsor_b.png)
}
input[type="submit"],.framemapbg br + a[href$="logout.php"],.framemapbg br + a[href$="logout.php"] + br + a,form[action="friends.php?action=insertuser"] input[type="submit"],#ttContent input[type="submit"] {
	box-shadow:0px 1px 0px 0px #ffffff inset;
	background:-moz-linear-gradient( center top,#ffffff 5%,#f6f6f6 100% );
	background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#ffffff),color-stop(1,#f6f6f6) );
	/*border-radius:4px;*/
	border:1px solid #ccc;
	display:inline-block;
	padding:2px 3px;
	text-align:center;
	text-decoration:none;
	text-shadow:1px 1px 0px #eee;
	font-size:11px;
	margin:0 1px;
	cursor:pointer;
	font-weight: bold;
	min-width: 100px;
	/*font-family:Helevetica*/
}
input[type="submit"]:hover,.framemapbg br + a[href$="logout.php"]:hover,.framemapbg br + a[href$="logout.php"] + br + a:hover,form[action="friends.php?action=insertuser"] input[type="submit"]:hover,#ttContent input[type="submit"]:hover {
	background:-moz-linear-gradient( center top,#f6f6f6 5%,#ffffff 100% );
	background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#f6f6f6),color-stop(1,#ffffff) )
}
input[type="submit"] {
	margin-top:3px
}
.framemapbg br + a[href$="logout.php"],.framemapbg br + a[href$="logout.php"] + br + a {
	width:75px;
	font-weight:normal;
	margin-top:6px
}
.framemapbg br + a[href$="logout.php"] {
	color:#0a0
}
.framemapbg br + a[href$="logout.php"] + br + a {
	color:#d00
}
.healthok,.valueincreased {
	color:#27ae60
}
#listrow_lifep span.healthcritical, #listrow_lifep span.healthmed {
	font-size: 30;
}
.healthcritical, .healthmed {
	color:red;
}
#ttContainer table {
	border-collapse:separate !important;
	border:0px solid transparent !important
}
#ttCaption {
	background-color:#fff !important;
	border:1px solid #777 !important;
	border-radius:4px 4px 0 0 !important;
	border-bottom:1px solid #777 !important;
	color:#222 !important;
	text-align:center;
	background-image:url(i/br2.png) !important
}
#ttContent {
	background:#f1f5fb url(i/noise.png) left top repeat-x !important;
	border:1px solid #777 !important;
	border-top:0 !important;
	border-radius:0 0 4px 4px !important;
	color:#222 !important
}
#ttContent img {
	width:20px;
	height:20px
}
#ttCaption img[src$="close.gif"] {
	display:inline-block;
	width:0px;
	height:10px;
	background:url(i/rcsmall.png);
	background-repeat:no-repeat;
	margin-top:3px;
	padding-right:10px;
	overflow:hidden
}
#ttContent textarea,input[name="name"][type="text"][id="name"][value=""][size="20"][maxlength="30"] ,textarea[name="brief"][cols="20"][rows="10"][wrap="VIRTUAL"][id="brief"] ,form[action="friends.php?action=insertuser"] input[name="username"] ,.framemainbg textarea ,.framemainbg input[name="name"][type="text"][id="name"][size="30"][maxlength="30"],.frameitembg textarea[name="tele_msg"] {
	width:100%
}
textarea,input[type="text"],input:not([type]) {
	border:1px solid rgba(0,0,0,.2);
	padding:3px;
	/*font-family:Helevetica;*/
	font-size:13px;
	background:#FFECD3
}
.frameitembg textarea {
	height:50%
}
.framemainbg,.framemainbg td {
	color:#222
}
.listusersrow img[src$="blase.gif"],.friendlist img[src$="blase.gif"] {
	display:none
}
a[href^="main.php?action=whisperuser&act_user_id="]:after {
	content:"\f075";
	color: #27ae60;
}
.framemainbg a[href^="chatform.php?action=whisperuser&act_user_id="]:after {
	content:"\f075";
	color: #27ae60;
}
img[src$="group.gif"] {
	display:none
}
a[href^="fight.php?action=groupinvite&act_user_id="]:after {
	content:"\f0c0"
}
#listrow_group img[src$="group.gif"] {
	display:none
}
a[href^="fight.php?action=groupjoinrand"]:before {
	content:"\f0c0"
}
a[href^="chatform.php?action=whisperuser&act_user_id="]:after,a[href^="chatform.php?action=whisperuser&act_user_id="]:hover:after,a[href^="main.php?action=whisperuser&act_user_id="]:after,a[href^="main.php?action=whisperuser&act_user_id="]:hover:after,a[href^="fight.php?action=groupinvite&act_user_id="]:after,a[href^="fight.php?action=groupinvite&act_user_id="]:hover:after,a[href^="fight.php?action=groupjoinrand"]:before,a[href^="fight.php?action=groupjoinrand"]:hover:before {
	/*color:#666;*/
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal;
	line-height:.9
}
a[href^="chatform.php?action=whisperuser&act_user_id="],a[href^="chatform.php?action=whisperuser&act_user_id="]:hover,a[href^="main.php?action=whisperuser&act_user_id="],a[href^="main.php?action=whisperuser&act_user_id="]:hover,a[href^="fight.php?action=groupinvite&act_user_id="],a[href^="fight.php?action=groupinvite&act_user_id="]:hover,a[href^="fight.php?action=groupjoinrand"],a[href^="fight.php?action=groupjoinrand"]:hover {
	text-decoration:none
}
.friendlist img[src$="close.gif"] {
	display:inline-block;
	width:0px;
	height:10px;
	background:url(i/rcsmall.png);
	background-repeat:no-repeat;
	margin-top:1px;
	padding-left:10px;
	overflow:hidden
}
.friendlist a[href="#"][onclick*="tt(event,"]:after {
	content:attr(title);
	position:absolute;
	left:326px;
	right:5px;
	display:inline-block;
	border:1px solid #ccc;
	border-bottom:0;
	background:url(i/white.png);
	padding:1px;
	color:#222;
	font-weight:normal;
	margin-top:-2px;
	height:17px;
	overflow:hidden
}
.friendlist tr:first-of-type a[href="#"][onclick^="tt"]:after {
	border-top-left-radius:4px;
	border-top-right-radius:4px
}
.friendlist tr:last-of-type a[href="#"][onclick^="tt"]:after {
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border-bottom:1px solid #ccc;
	height:16px
}
.friendlist a[href="#"][onclick*="tt(event,"][title="Kommentar verfassen"]:after {
	content:"Kein Kommentar festgelegt...";
	color:#bbb;
	font-style:italic
}
.friendlist + br + p + .friendlist a[href="#"][onclick*="tt(event,"]:after {
	left:278px
}
.listplaceitemsrow br + br + br {
	display:none
}
.friendlist {
	border-collapse:separate;
	border-spacing:0px
}
.friendlist tr td {
	border-bottom:1px solid #ccc;
	padding:1px;
	margin-top:3px;
	background:url(i/white.png)
}
.friendlist tr td[width="200px"] {
	width:250px !important
}
.friendlist tr td:first-of-type {
	border-left:1px solid #ccc
}
.friendlist tr td:last-of-type {
	border-right:1px solid #ccc
}
.friendlist tr:first-of-type td {
	border-top:1px solid #ccc
}
.friendlist tr:first-of-type td:first-of-type {
	border-top-left-radius:4px
}
.friendlist tr:first-of-type td:last-of-type {
	border-top-right-radius:5px
}
.friendlist tr:last-of-type td:first-of-type {
	border-bottom-left-radius:4px
}
.friendlist tr:last-of-type td:last-of-type {
	border-bottom-right-radius:5px
}
.friendlist:first-of-type tr td:first-of-type:after {
	content:" "
}
form[action="friends.php?action=insertuser"] input[name="username"] {
	width:300px
}
p.maincaption {
	text-shadow:1px 1px 5px #888;
	font-size:25px;
	padding:5px
}
/*p.maincaption + br {
	display:none
}*/
img[src$="sieg.jpg"],img[src$="niederlage.jpg"] {
	width:37px;
	height:30px
}
/*img[src$="brief.jpg"] {
	display:inline-block;
	width:0px;
	height:14px;
	background:url(i/brief.png);
	background-repeat:no-repeat;
	background-position:left bottom;
	padding-left:16px;
	overflow:hidden;
	margin-right:5px
}
img[src$="brief.jpg"] + br {
	display:none
}*/
p.maincaption2 {
	font-size:15px;
	/*padding:3px*/
	text-align: left;
	width: 600px;
}
p.maincaption2 a {
	text-shadow:0px 0px 0px #888
}
/*a[href="main.php?action=archive&mode=show#newest_msg"] ~ p.maincaption2 {
	margin-top:15px;
	padding:3px;
	border:1px solid #ccc;
	border-radius:5px;
	font-size:13px
}*/
.itemlistcaption[style="width:550px"],.listcaption[style="width:550px"] {
	border-radius:0 0 !important;
	background-color:<MAIN_TONE> !important;
	border:1px solid rgba(0,0,0,.2) !important;
	background-image:none !important;
	padding:4px 8px !important;
	color:#eee !important;
	font-size:13px;
	font-weight:bold
}
.itemlistcaption[style="width:550px"],.listcaption[style="width:550px"],.itemlistcaption[style="width:550px"] + .listrow,.listcaption[style="width:550px"] + .listrow {
	width:100% !important
}
.itemlistcaption[style="width:550px"] a,.listcaption[style="width:550px"] a,.itemlistcaption[style="width:550px"] a:hover,.listcaption[style="width:550px"] a:hover {
	color:#fff
}
.itemlistcaption[style="width:550px"] + .listrow,.listcaption[style="width:550px"] + .listrow {
	background-color:#eee !important;
	border:1px solid rgba(0,0,0,.2) !important;
	border-bottom:0;
	padding:4px 4px !important
}
.itemlistcaption[style="width:550px"] + .listrow img,.listcaption[style="width:550px"] + .listrow img {
	opacity:.9
}
.itemlistcaption[style="width:550px"] + .listrow td,.listcaption[style="width:550px"] + .listrow td {
	color:#222 !important;
	font-size:12px
}
.listcaption[style="width:550px"] img {
	display:none
}
.listcaption[style="width:550px"] a,.listcaption[style="width:550px"] a:hover {
	text-decoration:none;
	font-size:0;
	display:inline-block
}
.listcaption[style="width:550px"] a:after {
	font-size:15px;
	line-height:13px;
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal
}
.listcaption[style="width:550px"] a[title$="ein)"]:after {
	content:"\f06e";
	color:#fff
}
.listcaption[style="width:550px"] a[title$="aus)"]:after {
	content:"\f070";
	color:#fa9
}
td[style$="/map/black.jpg"] a:not(.nocango),td[style$="/map/u/Einzelbilder/002.jpg"] a,td[style$="/map/ixi19.jpg"] a {
	width:50px;
	height:50px;
	display:block;
	background-image:url(i/uk.png) !important
}
img[src$="/map/black.jpg"] + div:after,img[src$="/map/u/Einzelbilder/002.jpg"] + div:after,img[src$="/map/ixi19.jpg"] + div:after {
	content:"";
	width:25px;
	height:25px;
	display:block;
	background-image:url(i/uk.png) !important;
	background-size:25px 25px;
	position:absolute;
	left:0;
	top:0
}
.builtcaption,.editcaption,.visitcaption {
	position:absolute;
	right:10px;
	top:5px;
	color:transparent;
	font-size:0
}
.builtcaption a,.editcaption a,.visitcaption a {
	box-shadow:0px 1px 0px 0px #ffffff inset;
	background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#ffffff),color-stop(1,#f6f6f6) );
	background:-moz-linear-gradient( center top,#ffffff 5%,#f6f6f6 100% );
	display:inline-block;
	color:#666 !important;
	padding:3px 5px;
	text-decoration:none;
	text-shadow:1px 1px 0px #eee;
	font-size:11px;
	margin:0 1px
}
.builtcaption a:hover,.editcaption a:hover,.visitcaption a:hover {
	background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#f6f6f6),color-stop(1,#ffffff) );
	background:-moz-linear-gradient( center top,#f6f6f6 5%,#ffffff 100% );
	color:#222 !important
}
.uplantimg {
	width:30px;
	height:30px
}
.frameitembg select[name="z_pos_id"] option[value="73"] {
	font-weight:bold
}
/*.personlistcaption:not([style*="width:550px"]),.itemlistcaption:not([style*="width:550px"]) {
	display:none
}
table.areadescription + br,table.areadescription + br + table + br,table.areadescription + br + table + br + table + br {
	display:none
}
div.uwork br:first-of-type + br {
	display:none
}
div.uwork + br[style="clear:both;"] + br {
	display:none
}*/
.tutorial {
	border:1px solid #ccc !important;
	background-color:#eee !important;
	-moz-border-radius:8px !important;
	-webkit-border-radius:8px !important;
	border-radius:8px !important;
	color:#222
}
.tutorial legend {
	border:1px solid #ccc !important;
	background-color:#eee !important;
	-moz-border-radius:3px !important;
	-webkit-border-radius:3px !important;
	border-radius:3px !important;
	color:#222;
	padding:2px
}
.framemapbg td > a {
	display:inline-block;
	position:relative;
	width:50px;
	height:50px
}
.framemapbg td > a:after {
	position:absolute;
	left:0;
	right:0;
	top:0;
	color:#000;
	font-weight:normal;
	background:rgba(255,255,255,.75);
	border:0px solid #eee;
	box-shadow:0 5px 5px -5px rgba(0,0,0,.8);
	font-size:10px;
	text-align:center;
	padding:2px 0
}
a[href="main.php?arrive_eval=getmission"],a[href="main.php?finish=1"] {
	display:block;
	width:200px;
	height:40px;
	padding:10px;
	margin:10px 0;
	border:1px solid rgba(0,0,0,.2);
	text-align:center;
	color:#fff !important;
	font-size:bigger;
	background:#27ae60
}
a[href="main.php?arrive_eval=getmission"]:hover,a[href="main.php?finish=1"]:hover {
	color:#fff !important;
	background:#2ecc71
}
.framebannerbg:before {
	position:absolute;
	white-space:pre;
	left:0;
	top:-5px;
	width:270px;
	height:50px;
	font-size:11px;
	display:block;
	padding:10px;
	border:3px solid #eee;
	text-overflow:ellipsis;
	overflow:hidden;
	visibility:hidden
}
.framebannerbg table td:first-of-type {
	display:none
}
.framebannerbg table td:last-of-type {
	position:absolute;
	right:15px;
	top:8px
}
#ItemFrameItem a[href^="item.php?action=fastspell&spellslot"]:not([href$="mode=delete"]) {
	display:block;
	margin:-20px -6px 0 -5px;
	background:#f5f5f5;
	padding:2px 8px;
	border-bottom:1px solid rgba(0,0,0,.1);
	z-index:10;
	position:relative
}
#ItemFrameItem a[href^="item.php?action=fastspell&spellslot"]:not([href$="mode=delete"]):first-of-type {
	margin-top:0;
	border-top:1px solid rgba(0,0,0,.1)
}
#ItemFrameItem a[href^="item.php?action=fastspell&spellslot"]:not([href$="mode=delete"]):last-of-type {
	margin-bottom:8px
}
#fssel1:after,#fssel2:after,#fssel3:after,#fssel4:after,#fssel5:after,#fssel6:after,#fssel7:after,#fssel8:after,#fssel9:after {
	display:inline-block;
	margin-left:8px;
	content:attr(title)
}
#x-467y-472 a[href$="main.php?go=exit"] {
	display:inline-block;
	margin-top:40px
}
.abilitymenu {
	border-spacing:0px;
	border-collapse:collapse;
	width:calc(100% + 12px);
	margin:0 -6px
}
.abilitymenu td {
	border:1px solid #ddd;
	background:#fafafa;
	color:#222;
	padding:2px 5px
}
.abilitymenu tr:nth-of-type(2n) td {
	background:#eee
}
form[name="bank"] table {
	border-collapse:collapse;
	border:1px solid rgba(0,0,0,.1)
}
form[name="bank"] tr td {
	background:#fefefe;
	padding:2px 6px
}
form[name="bank"] tr:nth-of-type(2n) td {
	background:#eee
}
form[name="bank"] a {
	float:right;
	margin:4px 2px;
	display:inline-block;
	margin-left:5px
}
form[name="bank"] span[style="font-size:.8em;"] {
	font-size:0 !important
}
form[name="bank"] span[style="font-size:.8em;"] span {
	font-size:10px !important;
	height:20px;
	width:20px;
	border-radius:50%;
	background:#3498db;
	color:#fff;
	text-shadow:0 1px 2px rgba(0,0,0,.2);
	margin:0 6px;
	display:inline-block;
	padding:0;
	line-height:20px;
	padding-right:1px;
	text-align:center;
	box-shadow:0 1px 2px rgba(0,0,0,.2) inset;
	font-weight:bold
}
form[name="bank"] b[onmouseover^="tt('gepresste Zauberkugel'"] {
	color:#d00
}
.framechatformbg {
	border:0 !important
}
.framechatformbg table {
	border:0 !important;
	padding:0;
	margin:0;
	border-collapse:collapse
}
.framechatformbg td {
	color:#111
}
#chatform {
	padding:0;
	margin:0
}
#chatform input[type="text"] {
	border:1px solid #ccc;
	border-top:0;
	border-bottom:0;
	padding:2px 7px;
	height:35px;
	margin-top:-1px;
	background:#FFECD3;
	font-size:13px;
	/*color: #006600;*/
}
#chatform input[type="submit"] {
	margin-top:-1px
}
.framechatformbg td:nth-of-type(1) {
	padding-left:6px !important;
	padding-right:6px !important
}
.framechatformbg td:nth-of-type(2) {
	padding-right:4px
}
.framechattextbg:before {
	background-image:url(i/noiset.png);
	background-repeat:repeat-x;
	background-attachment:fixed;
	background-position:left bottom;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	height:5px;
	z-index:1000;
	content:""
}
.framechattextbg:after {
	background-image:url(i/noise.png);
	background-repeat:repeat-x;
	background-attachment:fixed;
	background-position:left top;
	position:fixed;
	left:0;
	right:0;
	top:0;
	height:5px;
	z-index:1000;
	content:""
}
.framechattextbg p {
	font-size:13px
}
.framechattextbg > :not(div):last-of-type {
	padding-bottom:6px
}
.chattext {
	color:#222
}
/*.chattext i {
	color:#444
}*/
.chattextscream,.submitschreien {
	color:#05c
}
.chattextclan,.submitclan {
	color:red
}
.chattextgroup,.submitgroup {
	color:#CE5A21
}
.chattextinfo {
	color:olive;
	font-style:italic
}
.chattextinfo::before {
	content: "Bemerkenswert:\0020";
}
.chattextwhisper,.submitwhisper {
	color:#006600
}
.chattextglobal,.submitglobalchat {
	color:purple;
}
.chattextglobal:before {
	padding-right:2px;
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal;
	content:"\f0c2"
}
.chattextscream:before {
	padding-left:1px;
	padding-right:7px;
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal;
	content:"\f0ac"
}
/*.worldsay,.worldsay table,.worldsay tbody,.worldsay table td {
	font-size:11px
}*/
.worldsay table,.worldsay tbody {
	border-collapse:separate
}
.worldsay {
	margin:0 -2px
}
/*.worldsay tr[bgcolor="#99EE99"] {
	background-color:transparent !important;
	color:#d99 !important
}*/
.worldsay tr[bgcolor="#99EE99"] td {
	padding:2px 5px;
	background-color:#27ae60 !important;
	/*color:#FAFAFA !important;*/
	border:1px solid rgba(0,0,0,.2) !important
}
/*.worldsay tr[bgcolor="#C1CEF9"] {
	background-color:transparent !important;
	color:#d99 !important
}*/
.worldsay tr[bgcolor="#C1CEF9"] td {
	padding:2px 5px;
	background-color:<CONTRAST_MAIN> !important;
	color:#FAFAFA !important;
	border:1px solid rgba(0,0,0,.2) !important
}
/*.worldsay tr[bgcolor="#FFAEA1"] {
	background-color:transparent !important;
	color:#d99 !important
}*/
.worldsay tr[bgcolor="#FFAEA1"] td {
	padding:2px 5px;
	background-color:red !important;
	color:#FAFAFA !important;
	border:1px solid rgba(0,0,0,.2) !important
}
table[style="border:1px solid #C85424;"] {
	margin:0 -2px;
	border:0 solid rgba(0,0,0,0) !important
}
table[style="border:1px solid #C85424;"] td {
	padding:2px 5px;
	background-color:#ffe !important;
	color:#222 !important;
	border:1px solid rgba(0,0,0,.2) !important;
	font-size:12px
}
table[style="border:1px solid #C85424;"] img {
	width:24px;
	height:24px;
	margin:4px 8px 4px 0
}
img[src="http://voting.gdynamite.de/images/gd_animbutton.gif"] {
	display:none
}
img[src*="item_divider.gif"],.chatpics {
	display:none
}
.framemainbg a,.framechattextbg a {
	/*color:#d30;*/
	font-weight:bold
}
.framemainbg a:hover,.framechattextbg a:hover {
	color:#f50
}
#ItemFrameClanmenu .listrow[title]:after {
	content:attr(title);
	display:block
}
.framemenubg {
	/*font-size:12px*/
	line-height: 1.0em;
}
html[id^="MainFrame"],html[id^="ItemFrame"],html[id^="ChatFrameChattext"] {
	position:relative;
	overflow-y:scroll;
	height:100%
}
html[id^="MainFrame"] {
	padding:10px
}
#ChatFrameChattext {
	padding:6px;
	background-color:#E9E5E2
}
/*#ChatFrameChatform {
	background:#fafafa url(i/noise_gray.png)
}*/
html[id^="ItemFrame"] {
	padding:6px;
	overflow-x:hidden
}
.frameitembg p,.frameitembg td {
	line-height:1.1
}
html[id^="MapFrame"] {
	position:relative;
	height:295px
}
.framebannerbg {
	background: #FAFAFA;
	/*background: linear-gradient(to right, #e0832c 0%,#e5c77b 100%);*/
	background-image: url(i/fwbanner.jpg);
}
.framebannerbg > * {
	border-bottom:6px solid <MAIN_TONE> !important
}
.framemenubg {
	height:65px
}
html[id^="ItemFrame"],html[id^="MapFrame"],.framemenubg {
	border-left:1px solid #aaa
}
html[id^="ItemFrame"]:before {
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	width:1px;
	background:#aaa;
	content:""
}
.frameitembg {
	font-size:12px
}
#MapFrameID2 {
	padding:8px
}
.frameitembg .listcaption, .itemlistcaption, .personlistcaption, .maincaption2,.listcaption[style="width: 550px"] {
	border:1px solid rgba(0,0,0,.2);
	border-left:0;
	border-right:0;
	background:<MAIN_TONE>;
	text-align:center;
	color:<MAIN_FONT>;
	padding:0px 5px;
	font-weight:bold;
	font-size:13px;
	text-shadow:0 2px 1px rgba(0,0,0,.2);
	height:20px;
	line-height:21px
}

.listcaption[style="width: 550px"] {
	text-align: left !important;
}

.itemlistcaption, .personlistcaption, #plantrow {
	text-align: left !important;
}
p.personlistcaption {
	background: <CONTRAST_MAIN> !important;
	color: #FFF !important;
}
#plantrow {
	background: green !important;
	color: #FFF !important;
}
.frameitembg .listcaption:first-of-type {
	border-top:0
}
.frameitembg .listrow {
	padding:0 5px;
	/*min-height:20px;*/
	background:#fafafa;
	font-size:12px;
	line-height:20px
}
.frameitembg .listrow a:hover {
	text-decoration:none !important
}
.frameitembg p.listcaption:first-of-type {
	margin-top:-6px
}
.frameitembg .listcaption,.frameitembg .listrow {
	margin-left:-6px;
	margin-right:-6px
}
#listrow_clan,#listrow_int,#listrow_defensep,#listrow_special {
	background:#eee
}
#listrow_aka_battlep {
	background:#FFA54F;
	color:#000;
	text-align:center;
	border-bottom:1px solid rgba(0,0,0,.2);
	font-size:10px
}
#listrow_aka_battlep a {
	color:#3498db
}
#listrow_char_mission,#listrow_clan {
	height:20px;
	display:table;
	margin-left:-6px;
	padding:0;
	width:calc(100% + 12px);
	border-collapse:collapse;
	font-size:0;
	color:transparent;
	margin-bottom:-3px
}
#listrow_char_mission a,#listrow_clan a {
	display:table-cell;
	width:50%;
	text-align:center;
	padding:0 2px;
	margin:0;
	height:20px;
	line-height:21px
}
#listrow_char_mission a:nth-of-type(1),#listrow_clan a:nth-of-type(1) {
	border-right:1px solid rgba(0,0,0,.1)
}
#listrow_char_mission a {
	font-size:0
}
#listrow_char_mission a:nth-of-type(1):after {
	font-size:12px;
	content:"F\00E4higkeiten"
}
#listrow_char_mission a:nth-of-type(2):after {
	font-size:12px;
	content:"Auftrag"
}
#listrow_clan a {
	font-size:12px
}
#listrow_clan img[src$="group.gif"] {
	display:none
}
#listrow_clan a[href="fight.php?action=groupjoinrand"]:after {
	padding-left:3px;
	content:" Gruppe"
}
#listrow_group {
	position:absolute;
	z-index:2;
	right:6px;
	left:calc(50% + 6px);
	background:red;
	text-align:center;
	margin-top:-19px;
	background:#eee;
	border:0
}
#listrow_lifep {
	position:absolute;
	right:0;
	background:#fff;
	margin:0;
	z-index:10000;
	font-size:16px;
	border:1px solid rgba(0,0,0,.2);
	padding:0 5px;
	height:40px;
	line-height:40px;
	border-right:0;
	box-shadow:0 0 3px rgba(0,0,0,.1)
}
#listrow_lifep > b {
	display:none
}
#listrow_lifep > span > b {
	font-weight:bold
}
#listrow_int > b:first-of-type,#listrow_money > b {
	display:inline-block;
	width:16px;
	overflow:hidden;
	line-height:0
}
#listrow_int > b:first-of-type {
	width:0
}
#listrow_status + div[align="center"] {
	display:none
}
#listrow_money {
	white-space:nowrap;
	overflow:hidden
}
#listrow_money > b {
	display:inline-block;
	width:16px;
	overflow:hidden
}
#listrow_money img[src$="icon_gold.gif"] {
	display:inline-block;
	width:0;
	margin-right:100%
}
#listrow_money b:before {
	content:url(i/icon_gold.gif);
	margin-right:4px;
	transform:translateY(1px);
	display:inline-block
}
#listrow_money a {
	display:inline-block
}
#listrow_money a img {
	display:none
}
#listrow_money a[href="item.php?action=moneydrop1"] {
	text-indent:-5px;
	margin-left:-100%;
	margin-right:100%
}
#listrow_money a[href="item.php?action=moneytransfer1"] {
	margin-left:-100%;
	margin-right:100% 
}
#listrow_money a:after {
	font-family:FontAwesome;
	font-weight:normal;
	font-style:normal
}
#listrow_money a[href="item.php?action=moneydrop1"]:after {
	content:"\f175";
	color: red;
}
#listrow_money a[href="item.php?action=moneytransfer1"]:after {
	content:"\f0ec"
}
#listrow_money > b,#listrow_lifep > b,#listrow_int > b,#listrow_attackp > b,#listrow_attackw > b,#listrow_defensep > b,#listrow_defensew > b {
	font-weight:normal
}
#listrow_money,#listrow_lifep,#listrow_int,#listrow_attackp,#listrow_attackw,#listrow_defensep,#listrow_defensew {
	font-weight:bold
}
#listrow_special,#listrow_special a {
	height:20px;
	line-height:20px
}
#listrow_special a {
	width:0;
	display:inline-block;
	font-size:0
}
#listrow_special a:before {
	font-size:12px;
	content:"Spezial"
}
#listrow_status {
	min-height:0
}
#listrow_special + #listrow_status {
	min-height:20px;
	margin-top:-20px;
	text-indent:50px;
	background:#eee
}
#listrow_status .small {
	font-size:12px
}
#listrow_int ~ .listcaption {
	margin-top:4px
}
/*#listrow_int ~ .listcaption a {
	color:#eee
}*/
#listrow_int ~ .listcaption a:hover,#listrow_int ~ .listcaption a:focus {
	color:#fff
}
#filterrow {
	padding:3px;
	/*background:#ddd;*/
	text-align:center;
	width:calc(100% + 12px);
	margin:0 -6px
}
#filterrow b {
	padding:0
}
#listrow_char_mission {
	background: #fafafa;
}
.listitemrow {
	position:relative;
	padding:2px 3px;
	padding-left:9px;
	padding-right:70px;
	background:#fafafa;
	width:calc(100% + 12px);
	margin:0 -6px;
	min-height:19px
}
/*.listitemrow:nth-of-type(2n) {
	background:#eee
}*/


.listitemrow ~ form {
	width:0;
	height:0;
	margin:0;
	padding:0
}
.listitemrow * {
	z-index:2
}
#listrow_int ~ .listitemrow br {
	display:none
}
.listitemrow .itemequipped,.listitemrow .itemmagic,.listitemrow .itemamount {
	display:inline-block;
	font-weight:bold;
	font-size:12px;
	color:#27ae60
}
.listitemrow .itemamount {
	color:<CONTRAST_MAIN> !important;
}

.listitemrow .itemamount {
	padding-right:2px
}
.itemmagic {
	color:#27ae60
}
.listitemrow .itemmagic {
	width:0;
	font-size:0;
	color:transparent
}
.listitemrow .itemmagic:before {
	content:"";
	display:block;
	position:absolute;
	width:auto;
	top:0;
	left:1px;
	bottom:0;
	width:4px
}
.listitemrow .itemmagic:before {
	background:#bb7857
}
.listitemrow .itemmagic.magicextend:before {
	background:#83bb57
}
.listitemrow a img {
	display:none
}
.listitemrow a[href^="item.php?action=activate"] {
	/*font-size:0;*/
	content: url("i/black/svg/circle-o.svg");
}
.listitemrow a[href^="item.php?action=activate"]:before {
	content:"\f10c"
	/*content: url("i/black/svg/circle-o.svg");*/
}
.listitemrow a[href^="item.php?action=activate"]:hover:before {
	content:"\f10c"
	/*content: url("i/black/svg/circle.svg");*/
}
.listitemrow a[href^="item.php?action=watch"]:before {
	content:"\f06e";
	/*font-size:12px
	content: url("i/black/svg/eye.svg");*/
}
.listitemrow a[href^="item.php?action=transfer1"]:before, .listitemrow a[href^="item.php?action=manytransfer1"]:before {
	content:"\f0ec"
	/*content: url("i/black/svg/exchange.svg");*/
}
.listitemrow a[href^="item.php?action=manydrop"]:before {
	content:"\f175"
	/*content: url("i/black/svg/angle-double-down.svg");*/
}
.listitemrow a[href^="item.php?action=activate"]:before,.listitemrow a[href^="item.php?action=watch"]:before,.listitemrow a[href^="item.php?action=transfer1"]:before,.listitemrow a[href^="item.php?action=manytransfer1"]:before,.listitemrow a[href^="item.php?action=manydrop"]:before {
	margin:0 3px;
	display:inline-block;
	color:#666;
	font-size:14px;
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal;
	line-height:1
}
.listitemrow a[href^="item.php?action=watch"]:before {
	font-size:13px;
	transform:translateY(-1px)
}
.listitemrow a[href^="item.php?action=activate"]:hover,.listitemrow a[href^="item.php?action=watch"]:hover,.listitemrow a[href^="item.php?action=transfer1"]:hover,.listitemrow a[href^="item.php?action=manytransfer1"]:hover,.listitemrow a[href^="item.php?action=manydrop"]:hover {
	text-decoration:none
}
#listrow_int ~ .listitemrow,#listrow_int ~ .listitemrow br ~ a,#listrow_int ~ .listitemrow br ~ a:hover {
	display:block;
	font-size:0;
	color:transparent
}
#listrow_int ~ .listitemrow b {
	word-break:break-word
}
#listrow_int ~ .listitemrow b {
	font-size:12px;
	color:#222
}
#listrow_int ~ .listitemrow a[href^="item.php?action=activate"],#listrow_int ~ .listitemrow a[href^="item.php?action=watch"],#listrow_int ~ .listitemrow a[href^="item.php?action=transfer1"],#listrow_int ~ .listitemrow a[href^="item.php?action=manytransfer1"],#listrow_int ~ .listitemrow a[href^="item.php?action=manydrop"] {
	width:16px;
	height:16px;
	position:absolute;
	top:3px;
	z-index:3
}
#listrow_int ~ .listitemrow a[href^="item.php?action=activate"] {
	right:49px;
}
#listrow_int ~ .listitemrow a[href^="item.php?action=watch"] {
	right:33px
}
#listrow_int ~ .listitemrow a[href^="item.php?action=transfer1"] {
	right:17px
}
#listrow_int ~ .listitemrow a[href^="item.php?action=manytransfer1"] {
	right:17px
}
#listrow_int ~ .listitemrow a[href^="item.php?action=manydrop"] {
	right:1px
}
#listrow_int ~ .listitemrow a[href^="item.php?action=activate"]:before,#listrow_int ~ .listitemrow a[href^="item.php?action=watch"]:before,#listrow_int ~ .listitemrow a[href^="item.php?action=transfer1"]:before,#listrow_int ~ .listitemrow a[href^="item.php?action=manytransfer1"]:before,#listrow_int ~ .listitemrow a[href^="item.php?action=manydrop"]:before {
	margin:0
}
#listrow_int ~ .listitemrow a[href^="item.php?action=manydrop"]:before {
	color: red !important;
}
#listrow_int ~ .listitemrow a[href^="item.php?action=watch"]:before {
	color: #27ae60;
}
#listrow_int ~ .listitemrow a[href^="item.php?action=transfer1"]:before, #listrow_int ~ .listitemrow a[href^="item.php?action=manytransfer1"]:before, #listrow_int ~ .listitemrow a[href^="item.php?action=manydrop"]:before, #listrow_int ~ .listitemrow a[href^="item.php?action=activate"]:before {
	color: <CONTRAST_MAIN>;
}
#listrow_int ~ .listitemrow a[href^="item.php?action=watch"]:hover:before,#listrow_int ~ .listitemrow a[href^="item.php?action=transfer1"]:hover:before,#listrow_int ~ .listitemrow a[href^="item.php?action=manytransfer1"]:hover:before,#listrow_int ~ .listitemrow a[href^="item.php?action=manydrop"]:hover:before,#listrow_int ~ .listitemrow a[href^="item.php?action=activate"]:hover:before {
	color:#d30
}
.listitemrow[id^="itemarea"],#itemunusedzk {
	background-color:#eee;
	min-height:45px;
	position:relative;
	white-space:normal;
	padding:5px
}
.listitemrow[id^="itemarea"]:nth-of-type(2n) {
	background-color:#fafafa
}
b + br + .listitemrow[id^="itemarea"],b + br + #itemunusedzk {
	margin-top:8px
}
.listitemrow[id^="itemarea"] .areaimg,#itemunusedzk .areaimg {
	position:absolute;
	right:5px;
	bottom:5px
}
.listitemrow[id^="itemarea"] .itemarea + br,#itemunusedzk .itemarea + br {
	display:none
}
.listitemrow[id^="itemarea"] .medium,#itemunusedzk .medium {
	display:inline-block;
	margin-bottom:8px
}
.listitemrow[id^="itemarea"] a:before,#itemunusedzk a:before {
	font-size:12px
}
.listitemrow[id^="itemarea"] a[href^="item.php?action=activate"]:before,#itemunusedzk a[href^="item.php?action=activate"]:before {
	color:#666;
	font-size:15px;
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal;
	line-height:1
}
.listitemrow[id^="itemarea"] a[href^="item.php?action=activate"],.listitemrow[id^="itemarea"] a[href^="item.php?action=activate"]:hover,#itemunusedzk a[href^="item.php?action=activate"],#itemunusedzk a[href^="item.php?action=activate"]:hover {
	transform:translateY(1px);
	display:inline-block;
	font-size:0;
	margin:0 3px;
	text-decoration:none;
	width:16px;
	height:16px
}
.listitemrow[id^="itemarea"] a[href^="item.php?action=activate"]:before,#itemunusedzk a[href^="item.php?action=activate"]:before {
	margin:0 2px;
	content:"\f10c"
}
.listitemrow[id^="itemarea"] a[href^="item.php?action=activate"]:hover:before,#itemunusedzk a[href^="item.php?action=activate"]:hover:before {
	color:#d30
}
.listitemrow[id^="itemarea"] .timeday {
	color:#27ae60
}
.listitemrow[id^="itemarea"] .timehour {
	color:#f39c12
}
.listitemrow[id^="itemarea"] .timemin,.listitemrow[id^="itemarea"] .timesec {
	color:#c0392b
}
table.areadescription {
	margin:-10px -10px 2px -10px;
	border-collapse:separate;
	width:calc(100% + 20px);
	padding:0
}
table.areadescription .imageborder {
	padding:3px;
	background-color:#fafafa;
	width:46px;
	height:46px;
	position:absolute;
	left:4px;
	top:4px
}
table.areadescription .mainheader {
	padding-left:70px;
	padding-top:7px;
	padding-bottom:7px;
	font-size:22px;
	background-color:<MAIN_TONE>;
	color:#000;
	border-bottom:1px solid rgba(0,0,0,.2);
	text-shadow:0 2px 1px rgba(0,0,0,.2);
}
table.areadescription .areadescription {
	padding:11px;
	background:#fff8ef;
	border-bottom:1px solid rgba(0,0,0,.1)
}
table.areadescription tr:nth-of-type(2) .areadescription {
	background:#fff8ef url(i/noise.png) left top repeat-x
}
.listusersrow,.listplaceitemsrow {
	padding:3px 8px;
	border:1px solid #ccc;
	border-bottom:0 solid transparent;
	/*font-size:12px;*/
	margin:0;
	height:auto;
	min-height:0;
	background:#fafafa;
	box-shadow:0 3px 3px -3px rgba(0,0,0,.2)
}
.listusersrow td,.listplaceitemrow td {
	font-size:12px
}
.listusersrow {
	clear:both
}
/*.personlistcaption + .listusersrow,.listplaceitemsrow:first-of-type {
	margin-top:10px
}*/
.listusersrow:last-of-type,.listplaceitemsrow:last-of-type {
	border-bottom:1px solid #ccc
}
.listplaceitemsrow {
	padding:5px 10px
}
.listusersrow > img,.listplaceitemsrow img {
	width:24px;
	height:24px;
	margin:3px 8px 3px 3px
}
.listplaceitemsrow i {
	display:inline-block;
	padding:0 3px
}
.fastattack {
	/*color:<MAIN_TONE> !important;*/
	font-size:15px
}
.fastattack:hover {
	color:#d30 !important
}
.listplaceitemsrow a,.listplaceitemsrow b {
	font-size:13px
}
.listplaceitemsrow i {
	font-style:normal
}
.aggressivenpc {
	color:#d00;
	display:inline-block;
	padding-right:3px
}
.aggressivenpc:before {
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal;
	content:"\f071";
	padding-left:4px;
	padding-right:2px
}
#captchaHolder {
	box-sizing:content-box;
	margin:0 auto;
	border:1px solid #ccc !important;
	box-shadow:0 0 4px rgba(0,0,0,.3)
}
.listusersrow>b+br+br+img~a~br,.listusersrow>b+br+br~br+br+br+br {
	display:none
}
.listusersrow>b+br+br+img {
	width:50px;
	height:50px
}
.framemapbg table {
	border:1px solid rgba(0,0,0,.2);
	padding:3px;
	width:auto !important;
	margin-top:19px;
	background:#ccc
}
.framemapbg img[src*="zahl"] {
	opacity:.75
}
.framemapbg table a {
	display:block;
	width:50px;
	height:50px;
	border:0
}
.framemapbg table a {
	text-decoration:none
}
.nocango {
	opacity:.9
}
.nocango:hover {
	background:transparent url(i/nocango.png) left top no-repeat;
	cursor:default !important
}
/*.stdjpg {
	opacity:.9;
	background-image:url(i/berg.png) !important
}*/
a[href="map.php?reload=1"] {
	position:absolute;
	left:16px;
	font-size:11px
}
a[href="map.php?reload=1"]:before {
	content:"\f021 ";
	font-family:FontAwesome;
	font-style:normal;
	font-weight:normal;
	color:<CONTRAST_MAIN>
}
a[href="map.php?reload=1"]:after {
	content:" Aktualisieren"
}
a[href="map.php?reload=1"]:hover {
	text-decoration:none	
}
a[href="map.php?reload=1"] img {
	display:none
}
.positiontext {
	position:absolute;
	right:0;
	left:0;
	top:0;
	line-height:19px;
	text-align:right;
	font-size:11px;
	color:#eee;
	padding:0px 12px 0px 3px;
	height:20px;
	border-bottom:1px solid rgba(0,0,0,.2);
	background:<MAIN_TONE>;
	font-weight:bold;
	/*text-shadow:0 2px 1px rgba(0,0,0,.2)*/
}

.positiontext {
	color:#000
}

.positiontext a {
	color:<CONTRAST_MAIN>;
	text-decoration:none
}
.positiontext a:hover {
	color:#000 !important;
	text-decoration:none
}
#test {
	text-align:center;
	font-size:9px;
	color:#000;
	width:242px;
	padding:3px;
	min-height:14px;
	margin:0 auto;
	color:#222
}
.framemapbg td {
	display:inline-block;
	position:relative;
	width:50px;
	height:50px
}
.positiontext:after {
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	position:absolute;
	top:0;
	left:105px;
	font-family:FontAwesome;
	color:#ffa375
}
/* siehe Addon */
#phasespacer {
	display:inline-block;
	height:0
}
#phasespacer br {
	display:none
}
#phasespacer + center {
	background:rgba(255,255,255,.5);
	border:0
}
#phasespacer + center + div {
	margin:0 !important
}
#phasedisp {
	margin-left:-6px;
	width:calc(100% + 12px) !important;
	height:18px !important;
	margin-top: 2px;
}
#fullenergydisp {
	background-image:none !important;
	overflow:hidden;
	background: linear-gradient(to top, #ffb76b 0%,#ffa73d 50%,#ff7f04 100%) !important;
	border:0px solid #000 !important;
	width:100% !important;
	height:18px !important
}
#curenergy {
	background-image:none !important;
	background: #1e5799;
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#7db9e8 100%) !important;
	border:0px solid #000 !important;
	border-radius:0 0 0 3px;
	overflow:hidden;
	height:18px !important
}
#phasetext {
	text-shadow: 0 2px 1px rgba(0,0,0,.2);
	color:#eee;
	padding:0;
	line-height:18px;
	height:18px !important;
	width:100% !important;
	font-size: 12px !important;
	font-weight: bold;
}
#fastspell {
	margin:4px -6px;
	margin-bottom:4;
	border:1px solid rgba(0,0,0,.2);
	border-left:0;
	border-right:0;
	background:<MAIN_TONE>;
	text-align:center;
	color:#eee;
	padding:0 5px;
	/*font-weight:bold;*/
	width:calc(100% + 12px);
	font-size:13px;
	height:20px;
	line-height:20px;
	text-shadow:0 2px 1px rgba(0,0,0,.2)
}
#fastspell td {
	color:#000;
	font-size:13px
}
#fastspell tr > td + td > b {
	color:transparent;
	font-size:0
}
a.fast_spell_set,span.fast_spell_set {
	margin-left:3px;
	margin-right:3px;
	display:inline-block;
	text-decoration:none;
	border-radius:50%;
	width:16px;
	height:16px;
	background:#3498db;
	text-align:center;
	font-size:11px;
	line-height:16px
}
span.fast_spell_set {
	background:#fff;
	color:#222
}
a.fast_spell_set {
	color:#eee
}
a.fast_spell_set:hover,a.fast_spell_set:focus {
	color:#fff;
	text-decoration:none
}
table[id^="fastspell"]:not(#fastspell) {
	height:20px;
	margin:0 -6px;
	padding:2px 5px;
	width:calc(100% + 12px);
	/*background-color:#fafafa*/
}
table[id^="fastspell"]:not(#fastspell):nth-of-type(2n) {
	background-color:#eee
}
table[id^="fastspell"] + .small {
	display:block;
	padding:1px 1px;
	/*background-color:#ddd;*/
	font-size:12px;
	text-align:center;
	width:calc(100% + 12px);
	margin:0 -6px
}
table[id^="fastspell"]:not(#fastspell):last-of-type + .small a {
	color:red;
	text-decoration:none;
	font-weight:bold
}
table[id^="fastspell"]:not(#fastspell):last-of-type + .small a:hover {
	color:#d30;
}
table[id^="fastspell"]:not(#fastspell):last-of-type + .small br {
	display:none
}
table[id^="fastspell"]:not(#fastspell):last-of-type + .small:empty {
	display:none
}
table[id^="fastspell"]:not(#fastspell) td {
	font-size:12px;
	color:#666
}
table[id^="fastspell"]:not(#fastspell) a {
	font-size:12px;
	color:#000;
	text-decoration:none;
}
table[id^="fastspell"]:not(#fastspell) a:hover {
	color:#d30;
}
.fastitemamount {
	color:#08f !important
}


table[id^="fastspell"]:not(#fastspell) img[src$="close.gif"],#close1 img[src$="close.gif"],#close2 img[src$="close.gif"] {
	display:inline-block;
	width:0px;
	height:10px;
	background:url(i/black/svg/trash.svg);
	/*font-weight:normal;
	font-style:normal;
	font-family:FontAwesome;
	content: "\f1f8";*/
	background-repeat:no-repeat;
	margin-top:2px;
	padding-left:10px;
	overflow:hidden
}
table[id^="fastspell"]:hover:not(#fastspell) img[src$="close.gif"] {
	background:url(i/black/svg/trash_red.svg);
}
#MainFrameProfil a[href^="profil.php?action=enable"]:before,#MainFrameProfil a[href^="profil.php?action=show"]:before {
	display:inline-block;
	font-weight:normal;
	font-style:normal;
	font-family:FontAwesome;
	content:"\f00d";
	margin-right:4px;
	width:16px;
	text-align:center;
	color:#d00
}
#MainFrameProfil a[href^="profil.php?action=skip"]:before {
	display:inline-block;
	font-weight:normal;
	font-style:normal;
	font-family:FontAwesome;
	content:"\f00c";
	margin-right:4px;
	width:16px;
	text-align:center;
	color:#27ae60
}
form[action="profil.php?action=changestyle2"] b:after {
	display:block;
	margin:8px -1px 60vh -1px;
	border:1px solid rgba(0,0,0,.1);
	padding:8px;
	background-color:#fa9;
	color:#222;
	font-weight:normal;
	white-space:pre-wrap;
	content:"Du willst deinen Style wirklich wieder ÃfÆ'Ã,Â?ndern? Du kannst natÃfÆ'Ã,Â?rlich jeder Zeit zurÃfÆ'Ã,Â?ckkehren.\AIn jedem Fall wÃfÆ'Ã,Â?re es nett,wenn du Feedback im Forum abgibst:fw.jshack.org/flatlight (Weiterleitung)\AScrolle nach unten,um deinen Style zu ÃfÆ'Ã,Â?ndern."
}
# Blutblob 51 - 162 A # Blutblob auf Position X:-799 Y:-282 erzeugt keine Kindblobs  #ItemFrameItem img[src*="/images/sponsor"][title^="(noch 1 T"],#ItemFrameItem img[src*="/images/sponsor"][title^="(noch 2 T"],#ItemFrameItem img[src*="/images/sponsor"][title^="(noch 3 T"] {
	animation:blink 1s steps(5,start) infinite
}
@keyframes blink {
	0% {
		opacity:0
	}
	50% {
		opacity:1
	}
	100% {
		opacity:0
	}
}
.framebannerbg table td:first-of-type {
	display:none
}
.framebannerbg table td:last-of-type {
	position:absolute;
	left:4px;
	top:4px
}
a[href="premium.php"] + br + br + style + table {
	border:0 !important
}
a[href="premium.php"] + br + br + style + table tr.bg1[style="font-weight:bold;border:2px solid #C85424;"] {
	border:1px solid #ccc !important;
	background:#fafafa
}
a[href="premium.php"] + br + br + style + table tr.bg1[style="font-weight:bold;border:2px solid #C85424;"] ~ tr {
	border:1px solid #ccc !important;
	border-top:0 !important
}
a[href="premium.php"] + br + br + style + table tr.bg1[style="font-weight:bold;border:2px solid #C85424;"] ~ tr.bg1 {
	background-color:#fafafa !important
}
a[href="premium.php"] + br + br + style + table tr.bg1[style="font-weight:bold;border:2px solid #C85424;"] ~ tr.bg2 {
	background-color:#eee !important
}
a[href="premium.php"] + br + br + style + table tr img[src] {
	width:16px;
	height:16px
}
#listrow_status span[title$="(15 Minuten)"]:after {
	content:" (15m)"
}
#listrow_status span[title$="(14 Minuten)"]:after {
	content:" (14m)"
}
#listrow_status span[title$="(13 Minuten)"]:after {
	content:" (13m)"
}
#listrow_status span[title$="(12 Minuten)"]:after {
	content:" (12m)"
}
#listrow_status span[title$="(11 Minuten)"]:after {
	content:" (11m)"
}
#listrow_status span[title$="(10 Minuten)"]:after {
	content:" (10m)"
}
#listrow_status span[title$="(9 Minuten)"]:after {
	content:" (9m)"
}
#listrow_status span[title$="(8 Minuten)"]:after {
	content:" (8m)"
}
#listrow_status span[title$="(7 Minuten)"]:after {
	content:" (7m)"
}
#listrow_status span[title$="(6 Minuten)"]:after {
	content:" (6m)"
}
#listrow_status span[title$="(5 Minuten)"]:after {
	content:" (5m)"
}
#listrow_status span[title$="(4 Minuten)"]:after {
	content:" (4m)"
}
#listrow_status span[title$="(3 Minuten)"]:after {
	content:" (3m)"
}
#listrow_status span[title$="(2 Minuten)"]:after {
	content:" (2m)"
}
#listrow_status span[title$="(1 Minuten)"]:after {
	content:" (1m)"
}
#listrow_status span[title$="(wenigen Sekunden)"]:after {
	content:" (<1m)"
}
#listrow_status span[title$="(4 Minuten)"],#listrow_status span[title$="(3 Minuten)"],#listrow_status span[title$="(2 Minuten)"],#listrow_status span[title$="(1 Minuten)"],#listrow_status span[title$="(wenigen Sekunden)"] {
	text-decoration:blink
}
#puzzle .pic1,#puzzle .pic2,#puzzle .pic3,#puzzle .pic4,#puzzle .pic5,#puzzle .pic6,#puzzle .pic7,#puzzle .pic8,#puzzle .pic9,#puzzle .pic10,#puzzle .pic11,#puzzle .pic12,#puzzle .pic13,#puzzle .pic14,#puzzle .pic15 {
	background-image:url(i/zauberpuzzle.png) !important
}
#MainFrameMain {
	background: #eee !important;
}
.letter {
	padding:3px 8px;
	border:1px solid #ccc;
	border-bottom:0 solid transparent;
	/*font-size:12px;*/
	margin:0;
	height:auto;
	min-height:0;
	background:#fafafa;
	box-shadow:0 3px 3px -3px rgba(0,0,0,.2)
}

select {
	max-width: 100%;
}

#listrow_group {
	line-height: 16px;
}

.achievtable tr > td:nth-child(1) {
	width: 40px;
}

.achievtable td {
	width: 100%;
	background: #fafafa;
}

.achievtable img {
	width: 40px;
}

.framemainbg .maindesc1 {
	background-color: #fafafa;
}
.maindesc1 {
	width: 600px;
}

.listrow:not(#ItemFrameItem .listrow):nth-child(odd) {
	background: #eee
}

a[href*="clanmenu.php?action=sos"] {
    display: block;
    font-weight: bold;
    text-align: right;
}

@media only screen and (max-width: 800px) {
	#chatform input[type="submit"]  {
		min-width: 50px;
	}
}
