#phasedisp {
	height: 12px !important;
}

table[id^="fastspell"]:not(#fastspell) {
	line-height: 18px !important;
}

.framemenubg {
    line-height: 1.2em !important;
	font-size: 12px !important;

}	
.frameitembg p, .frameitembg td {
    line-height: 0.0 !important;
}