#phasedisp {
	height: 12px !important;
}

table[id^="fastspell"]:not(#fastspell) {
	line-height: 18px !important;
}

.framemenubg {
    line-height: 1.2em !important;
	font-size: 12px !important;

}

table[id^="fastspell"]:not(#fastspell) {
    height: 14px !important;
}

table[id^="fastspell"]:not(#fastspell) a {
    font-size: 10px !important;
}

table[id^="fastspell"]:not(#fastspell) td {
    font-size: 10px !important;
}