#listrow_attackp {
	height:20px;
	overflow:hidden
}
#listrow_attackp .valueincreased:after {
	display:inline-block;
	width:200px;
	content:""
}
#listrow_attackw,#listrow_defensew {
	display:inline-block;
	float:right;
	font-size:0;
	margin-right:3px;
	margin-top:-20px;
	height:20px;
	line-height:16px;
	position:relative;
	background:#fafafa;
	transition:width 250ms,color 250ms,font-size 250ms;
	color:#eee;
	width:30px;
	overflow-y:hidden
}
#listrow_defensew {
	background:#eee
}
#listrow_attackw:hover,#listrow_defensew:hover {
	font-weight:normal;
	padding-left:4px;
	width:calc(100% + 2px);
	font-size:12px;
	color:#222
}
#listrow_attackw b,#listrow_defensew b {
	display:inline-block;
	position:absolute;
	right:0;
	top:0;
	font-size:0
}
#listrow_attackw a:after,#listrow_defensew a:after {
	display:inline-block;
	font-size:12px;
	padding-left:10px
}
#listrow_attackw[title$='1%'] a:after,#listrow_defensew[title$='1%'] a:after {
	content:'1%'
}
#listrow_attackw[title$='2%'] a:after,#listrow_defensew[title$='2%'] a:after {
	content:'2%'
}
#listrow_attackw[title$='3%'] a:after,#listrow_defensew[title$='3%'] a:after {
	content:'3%'
}
#listrow_attackw[title$='4%'] a:after,#listrow_defensew[title$='4%'] a:after {
	content:'4%'
}
#listrow_attackw[title$='5%'] a:after,#listrow_defensew[title$='5%'] a:after {
	content:'5%'
}
#listrow_attackw[title$='6%'] a:after,#listrow_defensew[title$='6%'] a:after {
	content:'6%'
}
#listrow_attackw[title$='7%'] a:after,#listrow_defensew[title$='7%'] a:after {
	content:'7%'
}
#listrow_attackw[title$='8%'] a:after,#listrow_defensew[title$='8%'] a:after {
	content:'8%'
}
#listrow_attackw[title$='9%'] a:after,#listrow_defensew[title$='9%'] a:after {
	content:'9%'
}
#listrow_attackw[title$='10%'] a:after,#listrow_defensew[title$='10%'] a:after {
	content:'10%'
}
#listrow_attackw[title$='11%'] a:after,#listrow_defensew[title$='11%'] a:after {
	content:'11%'
}
#listrow_attackw[title$='12%'] a:after,#listrow_defensew[title$='12%'] a:after {
	content:'12%'
}
#listrow_attackw[title$='13%'] a:after,#listrow_defensew[title$='13%'] a:after {
	content:'13%'
}
#listrow_attackw[title$='14%'] a:after,#listrow_defensew[title$='14%'] a:after {
	content:'14%'
}
#listrow_attackw[title$='15%'] a:after,#listrow_defensew[title$='15%'] a:after {
	content:'15%'
}
#listrow_attackw[title$='16%'] a:after,#listrow_defensew[title$='16%'] a:after {
	content:'16%'
}
#listrow_attackw[title$='17%'] a:after,#listrow_defensew[title$='17%'] a:after {
	content:'17%'
}
#listrow_attackw[title$='18%'] a:after,#listrow_defensew[title$='18%'] a:after {
	content:'18%'
}
#listrow_attackw[title$='19%'] a:after,#listrow_defensew[title$='19%'] a:after {
	content:'19%'
}
#listrow_attackw[title$='20%'] a:after,#listrow_defensew[title$='20%'] a:after {
	content:'20%'
}
#listrow_attackw[title$='21%'] a:after,#listrow_defensew[title$='21%'] a:after {
	content:'21%'
}
#listrow_attackw[title$='22%'] a:after,#listrow_defensew[title$='22%'] a:after {
	content:'22%'
}
#listrow_attackw[title$='23%'] a:after,#listrow_defensew[title$='23%'] a:after {
	content:'23%'
}
#listrow_attackw[title$='24%'] a:after,#listrow_defensew[title$='24%'] a:after {
	content:'24%'
}
#listrow_attackw[title$='25%'] a:after,#listrow_defensew[title$='25%'] a:after {
	content:'25%'
}
#listrow_attackw[title$='26%'] a:after,#listrow_defensew[title$='26%'] a:after {
	content:'26%'
}
#listrow_attackw[title$='27%'] a:after,#listrow_defensew[title$='27%'] a:after {
	content:'27%'
}
#listrow_attackw[title$='28%'] a:after,#listrow_defensew[title$='28%'] a:after {
	content:'28%'
}
#listrow_attackw[title$='29%'] a:after,#listrow_defensew[title$='29%'] a:after {
	content:'29%'
}
#listrow_attackw[title$='30%'] a:after,#listrow_defensew[title$='30%'] a:after {
	content:'30%'
}
#listrow_attackw[title$='31%'] a:after,#listrow_defensew[title$='31%'] a:after {
	content:'31%'
}
#listrow_attackw[title$='32%'] a:after,#listrow_defensew[title$='32%'] a:after {
	content:'32%'
}
#listrow_attackw[title$='33%'] a:after,#listrow_defensew[title$='33%'] a:after {
	content:'33%'
}
#listrow_attackw[title$='34%'] a:after,#listrow_defensew[title$='34%'] a:after {
	content:'34%'
}
#listrow_attackw[title$='35%'] a:after,#listrow_defensew[title$='35%'] a:after {
	content:'35%'
}
#listrow_attackw[title$='36%'] a:after,#listrow_defensew[title$='36%'] a:after {
	content:'36%'
}
#listrow_attackw[title$='37%'] a:after,#listrow_defensew[title$='37%'] a:after {
	content:'37%'
}
#listrow_attackw[title$='38%'] a:after,#listrow_defensew[title$='38%'] a:after {
	content:'38%'
}
#listrow_attackw[title$='39%'] a:after,#listrow_defensew[title$='39%'] a:after {
	content:'39%'
}
#listrow_attackw[title$='40%'] a:after,#listrow_defensew[title$='40%'] a:after {
	content:'40%'
}
#listrow_attackw[title$='41%'] a:after,#listrow_defensew[title$='41%'] a:after {
	content:'41%'
}
#listrow_attackw[title$='42%'] a:after,#listrow_defensew[title$='42%'] a:after {
	content:'42%'
}
#listrow_attackw[title$='43%'] a:after,#listrow_defensew[title$='43%'] a:after {
	content:'43%'
}
#listrow_attackw[title$='44%'] a:after,#listrow_defensew[title$='44%'] a:after {
	content:'44%'
}
#listrow_attackw[title$='45%'] a:after,#listrow_defensew[title$='45%'] a:after {
	content:'45%'
}
#listrow_attackw[title$='46%'] a:after,#listrow_defensew[title$='46%'] a:after {
	content:'46%'
}
#listrow_attackw[title$='47%'] a:after,#listrow_defensew[title$='47%'] a:after {
	content:'47%'
}
#listrow_attackw[title$='48%'] a:after,#listrow_defensew[title$='48%'] a:after {
	content:'48%'
}
#listrow_attackw[title$='49%'] a:after,#listrow_defensew[title$='49%'] a:after {
	content:'49%'
}
#listrow_attackw[title$='50%'] a:after,#listrow_defensew[title$='50%'] a:after {
	content:'50%'
}
#listrow_attackw[title$='51%'] a:after,#listrow_defensew[title$='51%'] a:after {
	content:'51%'
}
#listrow_attackw[title$='52%'] a:after,#listrow_defensew[title$='52%'] a:after {
	content:'52%'
}
#listrow_attackw[title$='53%'] a:after,#listrow_defensew[title$='53%'] a:after {
	content:'53%'
}
#listrow_attackw[title$='54%'] a:after,#listrow_defensew[title$='54%'] a:after {
	content:'54%'
}
#listrow_attackw[title$='55%'] a:after,#listrow_defensew[title$='55%'] a:after {
	content:'55%'
}
#listrow_attackw[title$='56%'] a:after,#listrow_defensew[title$='56%'] a:after {
	content:'56%'
}
#listrow_attackw[title$='57%'] a:after,#listrow_defensew[title$='57%'] a:after {
	content:'57%'
}
#listrow_attackw[title$='58%'] a:after,#listrow_defensew[title$='58%'] a:after {
	content:'58%'
}
#listrow_attackw[title$='59%'] a:after,#listrow_defensew[title$='59%'] a:after {
	content:'59%'
}
#listrow_attackw[title$='60%'] a:after,#listrow_defensew[title$='60%'] a:after {
	content:'60%'
}
#listrow_attackw[title$='61%'] a:after,#listrow_defensew[title$='61%'] a:after {
	content:'61%'
}
#listrow_attackw[title$='62%'] a:after,#listrow_defensew[title$='62%'] a:after {
	content:'62%'
}
#listrow_attackw[title$='63%'] a:after,#listrow_defensew[title$='63%'] a:after {
	content:'63%'
}
#listrow_attackw[title$='64%'] a:after,#listrow_defensew[title$='64%'] a:after {
	content:'64%'
}
#listrow_attackw[title$='65%'] a:after,#listrow_defensew[title$='65%'] a:after {
	content:'65%'
}
#listrow_attackw[title$='66%'] a:after,#listrow_defensew[title$='66%'] a:after {
	content:'66%'
}
#listrow_attackw[title$='67%'] a:after,#listrow_defensew[title$='67%'] a:after {
	content:'67%'
}
#listrow_attackw[title$='68%'] a:after,#listrow_defensew[title$='68%'] a:after {
	content:'68%'
}
#listrow_attackw[title$='69%'] a:after,#listrow_defensew[title$='69%'] a:after {
	content:'69%'
}
#listrow_attackw[title$='70%'] a:after,#listrow_defensew[title$='70%'] a:after {
	content:'70%'
}
#listrow_attackw[title$='71%'] a:after,#listrow_defensew[title$='71%'] a:after {
	content:'71%'
}
#listrow_attackw[title$='72%'] a:after,#listrow_defensew[title$='72%'] a:after {
	content:'72%'
}
#listrow_attackw[title$='73%'] a:after,#listrow_defensew[title$='73%'] a:after {
	content:'73%'
}
#listrow_attackw[title$='74%'] a:after,#listrow_defensew[title$='74%'] a:after {
	content:'74%'
}
#listrow_attackw[title$='75%'] a:after,#listrow_defensew[title$='75%'] a:after {
	content:'75%'
}
#listrow_attackw[title$='76%'] a:after,#listrow_defensew[title$='76%'] a:after {
	content:'76%'
}
#listrow_attackw[title$='77%'] a:after,#listrow_defensew[title$='77%'] a:after {
	content:'77%'
}
#listrow_attackw[title$='78%'] a:after,#listrow_defensew[title$='78%'] a:after {
	content:'78%'
}
#listrow_attackw[title$='79%'] a:after,#listrow_defensew[title$='79%'] a:after {
	content:'79%'
}
#listrow_attackw[title$='80%'] a:after,#listrow_defensew[title$='80%'] a:after {
	content:'80%'
}
#listrow_attackw[title$='81%'] a:after,#listrow_defensew[title$='81%'] a:after {
	content:'81%'
}
#listrow_attackw[title$='82%'] a:after,#listrow_defensew[title$='82%'] a:after {
	content:'82%'
}
#listrow_attackw[title$='83%'] a:after,#listrow_defensew[title$='83%'] a:after {
	content:'83%'
}
#listrow_attackw[title$='84%'] a:after,#listrow_defensew[title$='84%'] a:after {
	content:'84%'
}
#listrow_attackw[title$='85%'] a:after,#listrow_defensew[title$='85%'] a:after {
	content:'85%'
}
#listrow_attackw[title$='86%'] a:after,#listrow_defensew[title$='86%'] a:after {
	content:'86%'
}
#listrow_attackw[title$='87%'] a:after,#listrow_defensew[title$='87%'] a:after {
	content:'87%'
}
#listrow_attackw[title$='88%'] a:after,#listrow_defensew[title$='88%'] a:after {
	content:'88%'
}
#listrow_attackw[title$='89%'] a:after,#listrow_defensew[title$='89%'] a:after {
	content:'89%'
}
#listrow_attackw[title$='90%'] a:after,#listrow_defensew[title$='90%'] a:after {
	content:'90%'
}
#listrow_attackw[title$='91%'] a:after,#listrow_defensew[title$='91%'] a:after {
	content:'91%'
}
#listrow_attackw[title$='92%'] a:after,#listrow_defensew[title$='92%'] a:after {
	content:'92%'
}
#listrow_attackw[title$='93%'] a:after,#listrow_defensew[title$='93%'] a:after {
	content:'93%'
}
#listrow_attackw[title$='94%'] a:after,#listrow_defensew[title$='94%'] a:after {
	content:'94%'
}
#listrow_attackw[title$='95%'] a:after,#listrow_defensew[title$='95%'] a:after {
	content:'95%'
}
#listrow_attackw[title$='96%'] a:after,#listrow_defensew[title$='96%'] a:after {
	content:'96%'
}
#listrow_attackw[title$='97%'] a:after,#listrow_defensew[title$='97%'] a:after {
	content:'97%'
}
#listrow_attackw[title$='98%'] a:after,#listrow_defensew[title$='98%'] a:after {
	content:'98%'
}
#listrow_attackw[title$='99%'] a:after,#listrow_defensew[title$='99%'] a:after {
	content:'99%'
}
#listrow_attackw[title$='100%'] a:after,#listrow_defensew[title$='100%'] a:after {
	content:'100%'
}
#listrow_attackw[title$='101%'] a:after,#listrow_defensew[title$='101%'] a:after {
	content:'101%'
}
#listrow_attackw[title$='102%'] a:after,#listrow_defensew[title$='102%'] a:after {
	content:'102%'
}
#listrow_attackw[title$='103%'] a:after,#listrow_defensew[title$='103%'] a:after {
	content:'103%'
}
#listrow_attackw[title$='104%'] a:after,#listrow_defensew[title$='104%'] a:after {
	content:'104%'
}
#listrow_attackw[title$='105%'] a:after,#listrow_defensew[title$='105%'] a:after {
	content:'105%'
}
#listrow_attackw[title$='106%'] a:after,#listrow_defensew[title$='106%'] a:after {
	content:'106%'
}
#listrow_attackw[title$='107%'] a:after,#listrow_defensew[title$='107%'] a:after {
	content:'107%'
}
#listrow_attackw[title$='108%'] a:after,#listrow_defensew[title$='108%'] a:after {
	content:'108%'
}
#listrow_attackw[title$='109%'] a:after,#listrow_defensew[title$='109%'] a:after {
	content:'109%'
}
#listrow_attackw[title$='110%'] a:after,#listrow_defensew[title$='110%'] a:after {
	content:'110%'
}
#listrow_attackw[title$='111%'] a:after,#listrow_defensew[title$='111%'] a:after {
	content:'111%'
}
#listrow_attackw[title$='112%'] a:after,#listrow_defensew[title$='112%'] a:after {
	content:'112%'
}
#listrow_attackw[title$='113%'] a:after,#listrow_defensew[title$='113%'] a:after {
	content:'113%'
}
#listrow_attackw[title$='114%'] a:after,#listrow_defensew[title$='114%'] a:after {
	content:'114%'
}
#listrow_attackw[title$='115%'] a:after,#listrow_defensew[title$='115%'] a:after {
	content:'115%'
}
#listrow_attackw[title$='116%'] a:after,#listrow_defensew[title$='116%'] a:after {
	content:'116%'
}
#listrow_attackw[title$='117%'] a:after,#listrow_defensew[title$='117%'] a:after {
	content:'117%'
}
#listrow_attackw[title$='118%'] a:after,#listrow_defensew[title$='118%'] a:after {
	content:'118%'
}
#listrow_attackw[title$='119%'] a:after,#listrow_defensew[title$='119%'] a:after {
	content:'119%'
}
#listrow_attackw[title$='120%'] a:after,#listrow_defensew[title$='120%'] a:after {
	content:'120%'
}
#listrow_attackw[title$='121%'] a:after,#listrow_defensew[title$='121%'] a:after {
	content:'121%'
}
#listrow_attackw[title$='122%'] a:after,#listrow_defensew[title$='122%'] a:after {
	content:'122%'
}
#listrow_attackw[title$='123%'] a:after,#listrow_defensew[title$='123%'] a:after {
	content:'123%'
}
#listrow_attackw[title$='124%'] a:after,#listrow_defensew[title$='124%'] a:after {
	content:'124%'
}
#listrow_attackw[title$='125%'] a:after,#listrow_defensew[title$='125%'] a:after {
	content:'125%'
}
#listrow_attackw[title$='126%'] a:after,#listrow_defensew[title$='126%'] a:after {
	content:'126%'
}
#listrow_attackw[title$='127%'] a:after,#listrow_defensew[title$='127%'] a:after {
	content:'127%'
}
#listrow_attackw[title$='128%'] a:after,#listrow_defensew[title$='128%'] a:after {
	content:'128%'
}
#listrow_attackw[title$='129%'] a:after,#listrow_defensew[title$='129%'] a:after {
	content:'129%'
}
#listrow_attackw[title$='130%'] a:after,#listrow_defensew[title$='130%'] a:after {
	content:'130%'
}
#listrow_attackw[title$='131%'] a:after,#listrow_defensew[title$='131%'] a:after {
	content:'131%'
}
#listrow_attackw[title$='132%'] a:after,#listrow_defensew[title$='132%'] a:after {
	content:'132%'
}
#listrow_attackw[title$='133%'] a:after,#listrow_defensew[title$='133%'] a:after {
	content:'133%'
}
#listrow_attackw[title$='134%'] a:after,#listrow_defensew[title$='134%'] a:after {
	content:'134%'
}
#listrow_attackw[title$='135%'] a:after,#listrow_defensew[title$='135%'] a:after {
	content:'135%'
}
#listrow_attackw[title$='136%'] a:after,#listrow_defensew[title$='136%'] a:after {
	content:'136%'
}
#listrow_attackw[title$='137%'] a:after,#listrow_defensew[title$='137%'] a:after {
	content:'137%'
}
#listrow_attackw[title$='138%'] a:after,#listrow_defensew[title$='138%'] a:after {
	content:'138%'
}
#listrow_attackw[title$='139%'] a:after,#listrow_defensew[title$='139%'] a:after {
	content:'139%'
}
#listrow_attackw[title$='140%'] a:after,#listrow_defensew[title$='140%'] a:after {
	content:'140%'
}
#listrow_attackw[title$='141%'] a:after,#listrow_defensew[title$='141%'] a:after {
	content:'141%'
}
#listrow_attackw[title$='142%'] a:after,#listrow_defensew[title$='142%'] a:after {
	content:'142%'
}
#listrow_attackw[title$='143%'] a:after,#listrow_defensew[title$='143%'] a:after {
	content:'143%'
}
#listrow_attackw[title$='144%'] a:after,#listrow_defensew[title$='144%'] a:after {
	content:'144%'
}
#listrow_attackw[title$='145%'] a:after,#listrow_defensew[title$='145%'] a:after {
	content:'145%'
}
#listrow_attackw[title$='146%'] a:after,#listrow_defensew[title$='146%'] a:after {
	content:'146%'
}
#listrow_attackw[title$='147%'] a:after,#listrow_defensew[title$='147%'] a:after {
	content:'147%'
}
#listrow_attackw[title$='148%'] a:after,#listrow_defensew[title$='148%'] a:after {
	content:'148%'
}
#listrow_attackw[title$='149%'] a:after,#listrow_defensew[title$='149%'] a:after {
	content:'149%'
}
#listrow_attackw[title$='150%'] a:after,#listrow_defensew[title$='150%'] a:after {
	content:'150%'
}
#listrow_attackw[title$='151%'] a:after,#listrow_defensew[title$='151%'] a:after {
	content:'151%'
}
#listrow_attackw[title$='152%'] a:after,#listrow_defensew[title$='152%'] a:after {
	content:'152%'
}
#listrow_attackw[title$='153%'] a:after,#listrow_defensew[title$='153%'] a:after {
	content:'153%'
}
#listrow_attackw[title$='154%'] a:after,#listrow_defensew[title$='154%'] a:after {
	content:'154%'
}
#listrow_attackw[title$='155%'] a:after,#listrow_defensew[title$='155%'] a:after {
	content:'155%'
}
#listrow_attackw[title$='156%'] a:after,#listrow_defensew[title$='156%'] a:after {
	content:'156%'
}
#listrow_attackw[title$='157%'] a:after,#listrow_defensew[title$='157%'] a:after {
	content:'157%'
}
#listrow_attackw[title$='158%'] a:after,#listrow_defensew[title$='158%'] a:after {
	content:'158%'
}
#listrow_attackw[title$='159%'] a:after,#listrow_defensew[title$='159%'] a:after {
	content:'159%'
}
#listrow_attackw[title$='160%'] a:after,#listrow_defensew[title$='160%'] a:after {
	content:'160%'
}
#listrow_attackw[title$='161%'] a:after,#listrow_defensew[title$='161%'] a:after {
	content:'161%'
}
#listrow_attackw[title$='162%'] a:after,#listrow_defensew[title$='162%'] a:after {
	content:'162%'
}
#listrow_attackw[title$='163%'] a:after,#listrow_defensew[title$='163%'] a:after {
	content:'163%'
}
#listrow_attackw[title$='164%'] a:after,#listrow_defensew[title$='164%'] a:after {
	content:'164%'
}
#listrow_attackw[title$='165%'] a:after,#listrow_defensew[title$='165%'] a:after {
	content:'165%'
}
#listrow_attackw[title$='166%'] a:after,#listrow_defensew[title$='166%'] a:after {
	content:'166%'
}
#listrow_attackw[title$='167%'] a:after,#listrow_defensew[title$='167%'] a:after {
	content:'167%'
}
#listrow_attackw[title$='168%'] a:after,#listrow_defensew[title$='168%'] a:after {
	content:'168%'
}
#listrow_attackw[title$='169%'] a:after,#listrow_defensew[title$='169%'] a:after {
	content:'169%'
}
#listrow_attackw[title$='170%'] a:after,#listrow_defensew[title$='170%'] a:after {
	content:'170%'
}
#listrow_attackw[title$='171%'] a:after,#listrow_defensew[title$='171%'] a:after {
	content:'171%'
}
#listrow_attackw[title$='172%'] a:after,#listrow_defensew[title$='172%'] a:after {
	content:'172%'
}
#listrow_attackw[title$='173%'] a:after,#listrow_defensew[title$='173%'] a:after {
	content:'173%'
}
#listrow_attackw[title$='174%'] a:after,#listrow_defensew[title$='174%'] a:after {
	content:'174%'
}
#listrow_attackw[title$='175%'] a:after,#listrow_defensew[title$='175%'] a:after {
	content:'175%'
}
#listrow_attackw[title$='176%'] a:after,#listrow_defensew[title$='176%'] a:after {
	content:'176%'
}
#listrow_attackw[title$='177%'] a:after,#listrow_defensew[title$='177%'] a:after {
	content:'177%'
}
#listrow_attackw[title$='178%'] a:after,#listrow_defensew[title$='178%'] a:after {
	content:'178%'
}
#listrow_attackw[title$='179%'] a:after,#listrow_defensew[title$='179%'] a:after {
	content:'179%'
}
#listrow_attackw[title$='180%'] a:after,#listrow_defensew[title$='180%'] a:after {
	content:'180%'
}
#listrow_attackw[title$='181%'] a:after,#listrow_defensew[title$='181%'] a:after {
	content:'181%'
}
#listrow_attackw[title$='182%'] a:after,#listrow_defensew[title$='182%'] a:after {
	content:'182%'
}
#listrow_attackw[title$='183%'] a:after,#listrow_defensew[title$='183%'] a:after {
	content:'183%'
}
#listrow_attackw[title$='184%'] a:after,#listrow_defensew[title$='184%'] a:after {
	content:'184%'
}
#listrow_attackw[title$='185%'] a:after,#listrow_defensew[title$='185%'] a:after {
	content:'185%'
}
#listrow_attackw[title$='186%'] a:after,#listrow_defensew[title$='186%'] a:after {
	content:'186%'
}
#listrow_attackw[title$='187%'] a:after,#listrow_defensew[title$='187%'] a:after {
	content:'187%'
}
#listrow_attackw[title$='188%'] a:after,#listrow_defensew[title$='188%'] a:after {
	content:'188%'
}
#listrow_attackw[title$='189%'] a:after,#listrow_defensew[title$='189%'] a:after {
	content:'189%'
}
#listrow_attackw[title$='190%'] a:after,#listrow_defensew[title$='190%'] a:after {
	content:'190%'
}
#listrow_attackw[title$='191%'] a:after,#listrow_defensew[title$='191%'] a:after {
	content:'191%'
}
#listrow_attackw[title$='192%'] a:after,#listrow_defensew[title$='192%'] a:after {
	content:'192%'
}
#listrow_attackw[title$='193%'] a:after,#listrow_defensew[title$='193%'] a:after {
	content:'193%'
}
#listrow_attackw[title$='194%'] a:after,#listrow_defensew[title$='194%'] a:after {
	content:'194%'
}
#listrow_attackw[title$='195%'] a:after,#listrow_defensew[title$='195%'] a:after {
	content:'195%'
}
#listrow_attackw[title$='196%'] a:after,#listrow_defensew[title$='196%'] a:after {
	content:'196%'
}
#listrow_attackw[title$='197%'] a:after,#listrow_defensew[title$='197%'] a:after {
	content:'197%'
}
#listrow_attackw[title$='198%'] a:after,#listrow_defensew[title$='198%'] a:after {
	content:'198%'
}
#listrow_attackw[title$='199%'] a:after,#listrow_defensew[title$='199%'] a:after {
	content:'199%'
}
#listrow_attackw[title$='200%'] a:after,#listrow_defensew[title$='200%'] a:after {
	content:'200%'
}
#listrow_attackw a {
	color:#27ae60
}
#listrow_attackw[title$=" 9%"] a:after,#listrow_attackw[title$=" 8%"] a:after,#listrow_attackw[title$=" 7%"] a:after,#listrow_attackw[title$=" 6%"] a:after,#listrow_attackw[title$=" 5%"] a:after,#listrow_attackw[title$=" 4%"] a:after,#listrow_attackw[title$=" 3%"] a:after,#listrow_attackw[title$=" 2%"] a:after,#listrow_attackw[title$=" 1%"] a:after {
	color:#c0392b
}
#listrow_defensew a {
	color:#27ae60
}
#listrow_defensew[title$=" 9%"] a:after,#listrow_defensew[title$=" 8%"] a:after,#listrow_defensew[title$=" 7%"] a:after,#listrow_defensew[title$=" 6%"] a:after,#listrow_defensew[title$=" 5%"] a:after,#listrow_defensew[title$=" 4%"] a:after,#listrow_defensew[title$=" 3%"] a:after,#listrow_defensew[title$=" 2%"] a:after,#listrow_defensew[title$=" 1%"] a:after {
	color:#c0392b
}
#listrow_attackw:not([title]) a[href="item.php?action=aselect"]:after,#listrow_defensew:not([title]) a[href="item.php?action=dselect"]:after {
	content:"\2014";
	font-weight:normal;
	color:#222 !important
}